$fa-font-path: "../webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

.displayNone {
    display: none;
}

.select2 {
    width: 100% !important;
}


/* do main blade */

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.cookieNavbar {
    position: fixed;
    z-index: 4000;
    background-color: #636b6f;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 20px;
    color: white;
}

.cookieNavbar p {
    margin: 0 15px 0 0;
}

.cookieNavbar button {
    transition: 0.4s;
    color: white;
    opacity: 0.5;
}

.cookieNavbar button:hover {
    color: white;
    opacity: 1;
}

.cookieNavbar a {
    text-decoration: underline;
    color: inherit;
}

.cookieNavbar a:hover {
    color: lightsteelblue;
}

.cookieNavbar {
    position: fixed;
    z-index: 4000;
    background-color: #636b6f;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 20px;
    color: white;
}


#registerForm .policydiv a {
    text-decoration: underline;
    color: inherit;
}

#registerForm .policydiv a:hover {
    color: lightsteelblue;
}

.close:hover {
    outline: 5px auto -webkit-focus-ring-color;
}


/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: darkgrey;
    width: 100%;
    z-index: 1;
    height: 45px;
    line-height: 45px;
}


/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    transition: 1s;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;

}

/* Navigation links */
.subnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

/* dragable caregories/vocabulary */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.dragDecide{
    position: fixed;
    top: 0;
    width: 5%;
    height: 100%;
    display: none;
    transition: 0.2s;
    z-index: 1;
    &.backgroundGood{
        background-image: linear-gradient(to right, green, white);
        left: 0;
    }
    &.backgroundBad{
        background-image: linear-gradient(to right, white, red);
        right: 0;
    }
}


/* localization change css */
.localization-management-list ul {
    margin: 0;
    padding: 0;
    text-align: left;
    // font-size: 16px;
    max-height: 360px;
    overflow-x: auto;
    list-style: none;

    li {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0;
        cursor: pointer;

        a {

            &,
            &:visited,
            &link {
                transition: color 0.3s linear;
                position: relative;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;
                color: #999999;
                width: 100%;
                padding: 0 20px 0 20px;

                .lang-name {
                    text-transform: uppercase;
                }

                &:hover {
                    color: black; //#111111
                }
            }
        }

        &.active {
            cursor: default;

            a {
                cursor: default;
                color: #c4202b;

                &:hover {
                    color: #c4202b; //#111111
                }
            }
        }

    }
}

/* selectedCategories */
#selectedCategories {

  text-align: left;
  li {
    height: 40px;
    line-height: 40px;
    text-decoration: none;

    .removeCategory{
      height: 40px;
    line-height: 40px;
    }
  }
}

/* buttons */

$mynewcolor:#a73adac4;

.btn-violet {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor, 5%), lighten($mynewcolor, 10%), darken($mynewcolor, 30%));
}





.loading {
    display: inline-block;
    animation: rotation 2s infinite linear;
}


/* effects */

@keyframes rotation {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@-webkit-keyframes buzz-effect {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes buzz-effect {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.buzz-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.buzz-effect .icon-effect {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.buzz-effect:hover .icon-effect,
.buzz-effect:focus .icon-effect,
.buzz-effect:active .icon-effect {
    -webkit-animation-name: buzz-effect;
    animation-name: buzz-effect;
    -webkit-animation-duration: 0.20s;
    animation-duration: 0.20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.spin-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.spin-effect .icon-effect {
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.spin-effect:hover .icon-effect,
.spin-effect:focus .icon-effect,
.spin-effect:active .icon-effect {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.pulse-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* other */
.card-columns {
    @include media-breakpoint-up(xl) {
        column-count: 6;
    }

    @include media-breakpoint-up(lg) {
        column-count: 5;
    }

    @include media-breakpoint-up(md) {
        column-count: 3;
    }

    @include media-breakpoint-up(sm) {
        column-count: 2;
    }

    @include media-breakpoint-up(xs) {
        column-count: 1;
    }
}

@media (max-width: breakpoint-min(sm)) {
    .btn-block-xs-only {
        display: block;
        width: 100%;
    }
}
